@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-color: #f49c01;
    --second-main-color: #eb5c01;
    --sub-color-first: #fff231;
    --sub-color-second: #fed733;
    --sub-color-third: #fab700;
    --sub-color-fourth: #7c4f2f;
    --gray-500: #a0abc0;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  * {
    overscroll-behavior: none;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
