@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-color: #f49c01;
    --second-main-color: #eb5c01;
    --sub-color-first: #fff231;
    --sub-color-second: #fed733;
    --sub-color-third: #fab700;
    --sub-color-fourth: #7c4f2f;
    --gray-500: #a0abc0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
